/* Header */
#headerWeb .container-fluid{
  height: 100vh;
}

header img {
  border: 1px solid orangered;
}



/* Navbar */
#navbarWeb a.active {
  border-bottom: 1px solid orangered;
}

#navbarWeb a:hover {
  border-bottom: 1px solid orange;
  transform: translateY(-10%);
}

#navbarMobile .container-fluid{
  bottom: 0;
  z-index: 999;
}

#navbarMobile a.active {
  border-bottom: 1px solid orangered;
}



/* Content */
#section-title h2{
  background-color: orangered;
  border-radius: 0 0 25px 0;
}

#content .sub-title h3 {
  border-bottom: 1px solid orange;
}

/* Card */
.card {
  border-radius: 10%;
}

.card h4 {
  background-color: orange;
  width: 60%;
  border-radius: 0 0 15px 0;
}
