/* Header */
#headerWeb .container-fluid{
  height: 100vh;
}

header img {
  border: 1px solid orangered;
}


/* Navbar */
#navbarWeb a.active {
  border-bottom: 1px solid orangered;
}

#navbarWeb a:hover {
  border-bottom: 1px solid orange;
  transform: translateY(-10%);
}

#navbarMobile .container-fluid{
  bottom: 0;
}

#navbarMobile a.active {
  border-bottom: 1px solid orange;
}



/* Content */
#section-title h2{
  background-color: orange;
  border-radius: 0 0 25px 0;
}